#cimsor {
    background-color: black;
    font-variant: small-caps;
    font-size: x-large;
    color: whitesmoke;
}
.szürke {
    background-color: grey;
}
table, tbody, thead, tr, td, th{
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    border-spacing: 0px;
}
table{
    background-color: white;
}
body{
    background-color: lightcyan;
}
tbody, thead, tr, td, th{
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
th{
    background-color: grey;
}
#üres {
    background-color: white;
}
#lukas {
    background-color: white;
}